.bar{
  background-color: blue;
  background: url('../assets/img/dark-magician.png');
  background-position-y: -69px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 115px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.img-bar{
  width: 79px;
  height: 83px;
  margin-left: 91px;
  border-style: solid;
  border-radius: 30px;
  border-width: 0;
}

.input-pesquisa{
  position: absolute;
  padding: 0 449px 12px 0;
  margin: 0 0 0 319px;
}

.campo-de-pesquisa{
  position: absolute;
}

