<div class="bar">
  <img
    [src]="'assets/img/yugi-moto.jpg'"
    class="img-bar"

  />
  <div class="input-pesquisa">
    <nz-input-group [nzSuffix]="suffixIconSearch" class="campo-de-pesquisa">
      <input type="text" nz-input placeholder="Faça sua busca" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon nzType="search"></i>
    </ng-template>
    <span id="span-busca">Busca Avançada</span>
  </div>
  <div class="login-carrinho-menu">
    <i nz-icon nzType="login" nzTheme="outline" class="login-carrinho-menu-itens login-carrinho-menu-tamanho-icons"></i>
    <div class="login-carrinho-menu-itens">
      <i nz-icon nzType="shopping-cart" nzTheme="outline" class="login-carrinho-menu-tamanho-icons"></i>
      <nz-badge [nzCount]="0" nzShowZero> </nz-badge>
    </div>
    <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" class="menu">
      <i nz-icon nzType="menu" nzTheme="outline" class="login-carrinho-menu-tamanho-icons"></i>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>Produtos</li>
        <li nz-menu-item>Serviços</li>
      </ul>
    </nz-dropdown-menu>
  </div>
</div>
<router-outlet></router-outlet>

