.bar{
  position: relative;
  background: linear-gradient(#000, #821cbd);
  height: 158px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.img-bar{
  width: 47px;
  height: 47px;
  position: absolute;
  border-radius: 30px;
  border-width: 0;
  left: 4%;
  top: 11%;
}

.input-pesquisa{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 21%;
}

.input-pesquisa span {
  color: white;
  font-size: 12px;
}

/*.input-pesquisa input {*/
/*  position: relative;*/
/*}*/

/*.campo-de-pesquisa{*/
/*  position: absolute;*/
/*}*/

/*#span-busca {*/
/*  color: white;*/
/*  position: absolute;*/
/*  z-index: 1;*/
/*  font-weight: bold;*/
/*  font-size: 10px;*/
/*  bottom: 24%;*/
/*  left: 50%;*/
/*  transform: translateX(-50%);*/
/*}*/

/*.login {*/
/*  color: white;*/
/*  position: absolute;*/
/*  padding: 10px;*/
/*  right: 61px;*/
/*  top: 0;*/
/*}*/

/*.login span:nth-child(1) {*/
/*  font-weight: bold;*/
/*}*/

/*.componentes-login {*/
/*  font-size: 11px;*/
/*}*/

/*.carrinho {*/
/*  position: absolute;*/
/*  color: white;*/
/*  right: 11%;*/
/*  bottom: 28%;*/
/*}*/

/*.carrinho span:nth-child(1) {*/
/*  font-size: 19px;*/
/*  position: relative;*/
/*  top: 2%;*/
/*  left: 0;*/
/*}*/

/*.carrinho span:nth-child(2) {*/
/*  position: relative;*/
/*  margin-left: 8px;*/
/*  top: -2px;*/
/*}*/


/*#valor-compra {*/
/*  font-weight: bold;*/
/*  position: relative;*/
/*  left: 5%;*/
/*}*/

/*@media screen and (min-width: 360px) {*/
/*  .login {*/
/*    display: none;*/
/*  }*/
/*  .carrinho {*/
/*    display: none;*/
/*  }*/
/*  !*.input-pesquisa{*!*/
/*  !*  padding: 0 250px 12px 0;*!*/
/*  !*}*!*/
/*  !*#span-busca{*!*/
/*  !*  position:relative;*!*/
/*  !*}*!*/
/*}*/


/*!* SMALL DEVICES - SMARTPHONES *!*/
/*@media screen and (min-width: 480px) {*/
/*  .bar {*/
/*    background: linear-gradient(red, #0a0a0a);*/
/*  }*/
/*  .input-pesquisa{*/
/*    padding: 0 308px 12px 0;*/
/*  }*/
/*  .login {*/
/*    right: 7px;*/
/*  }*/
/*  .carrinho {*/
/*    right: 9%;*/
/*  }*/
/*}*/

/*!* SMALL DEVICES - TABLETS *!*/
/*@media screen and (min-width: 768px) {*/
/*  .bar {*/
/*    background: linear-gradient(green, #0a0a0a);*/
/*  }*/
/*  .input-pesquisa{*/
/*    padding-right:452px*/
/*  }*/
/*}*/

/*!* MEDIUM DEVICES - TABLETS & DESKTOPS *!*/
/*@media screen and (min-width: 960px) {*/
/*  .bar {*/
/*    background: linear-gradient(orange, #0a0a0a);*/
/*  }*/
/*  .carrinho {*/
/*    right: 6%;*/
/*  }*/
/*}*/

/*!* LARGE DEVICES - WIDE SCREEN *!*/
/*@media screen and (min-width: 1280px) {*/
/*  .bar {*/
/*    background: linear-gradient(yellow, #0a0a0a);*/
/*  }*/
/*  .carrinho {*/
/*    right: 4%;*/
/*  }*/
/*}*/

