<div class="bar">
  <img
    [src]="'assets/img/yugi-moto.jpg'"
    class="img-bar"

  />
  <div class="input-pesquisa">
    <nz-input-group [nzSuffix]="suffixIconSearch" class="campo-de-pesquisa">
      <input type="text" nz-input placeholder="Faça sua busca" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon nzType="search"></i>
    </ng-template>
  </div>
  <span id="span-busca">Busca Avançada</span>
  <div class="login">
    <span>Criar meu cadastro</span><br>
    <span class="componentes-login">Efetuar Login</span> <span class="componentes-login"> | </span> <span class="componentes-login">Recuperar Senha</span>
  </div>
  <div class="carrinho">
    <span><i nz-icon nzType="shopping-cart" nzTheme="outline"></i></span>
    <span class="font-carrinho">Carrinho</span><br>
    <span id="valor-compra" class="font-carrinho">R$100,00</span>
  </div>
</div>
<router-outlet></router-outlet>

