.bar{
  background: linear-gradient(#000, #821cbd);
  height: 158px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.img-bar{
  width: 79px;
  height: 83px;
  margin-left: 91px;
  border-style: solid;
  border-radius: 30px;
  border-width: 0;
}

.input-pesquisa{
  position: absolute;
  padding: 0 449px 12px 0;
  margin: 0 0 0 319px;
}

.campo-de-pesquisa{
  position: absolute;
}

#span-busca {
  color: white;
  position: absolute;
  margin: 34px 0 0px 321px;
  z-index: 1;
  font-weight: bold;
  font-size: 10px;
}

.login {
  color: white;
  position: relative;
  padding: 10px;
  margin: -105px 43px 0 0;
}

.login span:nth-child(1) {
  font-weight: bold;
}

.componentes-login {
  font-size: 11px;
}

